/*---Navigation----*/
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img {
    height: 40px;
    padding-left: 30px;
}

.nav-bg-mason {
    background-color: transparent;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0));
    display: inline-flex;
    padding: .5rem 1rem;
    width: 100%;
    margin: 0 auto;
}

.navbar-nav li {
    padding: 0 10px;
}
.navbar-nav li a{
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover{
    color: #007bff!important;
}

.navbar {
    background: #fff;
}
.navbar-toggler {
    border : none!important;
}
.nav-link {
    color: #555!important;
    font-weight: 600;
    font-size:16px;
}
/*---Slider---*/
#slider {
width: 100%;
}
.carousel-caption {
    color: #555!important;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
    bottom: initial!important;
}

.carousel-caption h5{
    color: fff;
   font-size: 42px;
    left: 30%;

}
/*----About --*/

#about
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
#about btn {
    margin-top: 20px;
    margin-bottom: 30px;
}

.about-content {
    padding-top: 20px;
    margin-bottom: 30px;
}

.skills-bar p {
    margin-bottom: 6px;
    font-weight: 600;
}
.progress-bar {
    border-radius: 16px;
}
.progress {
    border-radius: 16px !important;
    margin-bottom: 20px;
}

/*--------Services------------------*/
#services {
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(images/logo1.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;


}

#services h1 {
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
}
#services h1:after{
 content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
    padding-bottom: 10px;
}

.services {
    margin-top:40px;
}

.icon {
   font-size:40px;
   margin: 20px auto;
   padding: 20px;
   height: 80px;
   width: 80px;
   border: 1px solid #fff;
   border-radius: 50%;

}

#services p {
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;

}
.services .col-md-3:hover {
    background: #007bff;
    cursor: pointer;
    transition: 0.7s;

}

/*------------Team Members--*/

#team {
    padding-top: 50px;
    padding-bottom:50px;
    color: #555;
}

/*--------Conditions Front Page------------------*/

.condition-icon {
    font-size:40px;
    margin: 20px auto;
    padding: 30px;
 
 }

#condition-choice {
    margin: 0;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    top: 25%;
}

#condition-choice .col-md-4:hover {
    background: #000000cc;
    cursor: pointer;
    transition: 0.7s;
}

#condition-choice h3 {
    color: #efefef !important;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#condition-choice img {
    width:75%;

}

#condition-choice #alz {
    background-image: linear-gradient(rgba(255, 176, 123, 0.8),rgba(143, 100, 72, 0.8));
    background-size: cover;
    background-position: center;
}

#condition-choice #type1 {
    background-image: linear-gradient(rgba(129, 188, 255, 0.8),rgba(70, 101, 138, 0.8));
    background-size: cover;
    background-position: center;
}

#condition-choice #type2 {
    background-image: linear-gradient(rgba(138, 255, 196, 0.8),rgba(78, 146, 112, 0.8));
    background-size: cover;
    background-position: center;
}

.play-btn {
    border-style: solid;
    border-width: 5px;
    border-color: rgb(129,188,255);
    background-color: #333;
}
.play-btn:hover{
    background-color: #33c;
}

.grid-container {
    display: grid;
    grid-gap: 20px 20px;
  }
.grid-item {
    cursor: pointer;
}
.grid-item:hover {
    background-color: rgb(255, 176, 123);
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

.fadeOut {
  visibility: visible;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

@keyframes pulse{
    0%{transform:rotate(0deg) scale(1,1)}
    50%{transform:rotate(0deg) scale(1.1,1.1)}
    100%{transform:rotate(0deg) scale(1,1)}
}
.sequencePulse{
    animation-name:pulse;
    animation-duration:500ms;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-play-state: paused;
    animation-iteration-count: infinite;
}

.sequencePulse:hover{
    animation-play-state: running;
    cursor: pointer
}